html {
    background: #424242;
    font-family: 'Roboto', sans-serif;
    align: center;
    font-weight: normal;
}

h1{
    color: white;
    font-size: 40px;
}
h2, h3 {
    color: white;
font-size: 20px;
text-decoration: none;
font-weight: normal;

}


form{
  text-align: center;
}


a {
    color: #bbdefb;
}

.button {
    background-color: #43a047;

    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  font-family: 'Roboto', sans-serif;

}

.button:hover {
    background-color: #4caf50;
    color: white;
}
.button:disabled {
    background-color: #DDDDDD;
    color: #999999;
    cursor: auto;

}

.inputfile {
    display: none
}

.inputfile+label {
    background-color: #303f9f;
    border: none;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    text-decoration-style: solid
}

.inputfile:focus+label, .inputfile+label:hover {
    background-color: #3949ab;
    color: white;
}

.inputfile+label {
    cursor: pointer;
    /* "hand" cursor */
}

.git_image{
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.loader{
  z-index: -100;
  width: 60px;
  height: 60px;
  position: absolute;
}
